

<main flex layout="column">
  <div>
    <div ui-view="" ></div>
  </div>
</main>

<footer class="footer">

<!--<div layout="row" layout-align="center center" flex>

  <div class="text-center">
    <span>الجمهورية التونسية</span>
    <br>
    <span>وزاة الداخلية</span>
    <br>
    <span>الادارة العامة للحرس الوطني</span>
    <br>
    <span>الادارة العامة للمصالح المشتركة</span>
    <br>
    <span>ادارة الموارد البشرية</span>
    </div>
</div>-->
<div class="text-center">
  <span>جميع الحقوق محفوظة لادارة الموارد البشرية 2023</span>
</div>
</footer>

