<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" >
  

    <a class="nav-link"  [routerLink]="'/home'">ادارة الموارد البشرية</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn btn-warning me-md-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
       aria-controls="offcanvasRight">القائمة</button>
    </div>
  </div>
</nav>