
        <div class="banner">
            <div class="video-container">
            <video autoplay loop muted>
                <source src="assets/GN.mp4" type="video/mp4">
            </video>
        </div>
            <div class="navbar">
                <img class="logo" src="assets/gn.png">
                <ul>
                   <li><a [routerLink]="'/personnel'">ادارة الموارد البشرية</a>

                    <li><a [routerLink]="'/demandeMutation'">مطالب النقل</a></li>
                    <li><a [routerLink]="'/accolade'">المعلقات</a></li>
                    <li><a href="#">العقوبات</a></li>
                </ul>
            </div>
            <div class="content">
                <h1>منظومة حفظ الأرشيف</h1>
                <div>
                    <button type="button" [routerLink]="'/personnel'">إلى التطبيقة</button>
                </div>
            </div>
        </div>
